/* Soluzione qui */

/* TABLET SCREEN WIDTH */

@media screen and (min-width: 768px) {

    /* TOP BAR HEADER */
    #topbar {
        justify-content: left;
    }

    /* MAIN */
    main {
        padding: 50px;
    }

    /* SEZIONE RECIPE */

    .recipe-name {
        font-size: 1.9em;
    }

    .recipe-origin {
        display: inline;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }

    .quick-notes li {
        flex-shrink: 0;
        width: 175px;
    }

    /* BOTTONI SOCIAL NETWORKS */

    .btn {
        padding: 10px 50px;
    }

    /* ADS */

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin: 0 15px 15px;
    }
}

/* DESKTOP SCREEN WIDTH */

@media screen and (min-width: 992px) {

    /* SEZIONE RECIPE */

    .recipe-name {
        font-size: 2.5em;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-grow: 1;
        max-height: 500px;
    }

    .recipe-info {
        flex-basis: calc(100% / 3);
    }

    .social-networks .label {
        display: inline;
    }

    /* FOOTER */

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: left;
    }
}